@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
    font-family: "Roboto Mono", monospace;
    min-height: 98vh;
    position: relative;
}

.dark {
    background-color: #202124;
    color: white;
}

@media (min-width: 650px) {
    nav {
        display: flex;
        justify-content: space-around;
    }

    .dark-mode-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 650px) {
    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

nav .nav {
    display: flex;
    justify-items: center;
    align-items: center;
}

nav .nav > a {
    margin: 5px;
    color: black;
    transition: 0.3s;
}

.dark nav .nav > a {
    margin: 5px;
    color: white;
    transition: 0.3s;
}

nav .nav > a:hover {
    text-decoration: underline;
}

nav .logo {
    color: black;
}

nav .logo:hover {
    color: black;
}

.dark nav .logo {
    color: white;
}

.dark nav .logo:hover {
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.hero div {
    text-align: center;
    max-width: 500px;
    padding: 10px;
}

a {
    color: #2E86C1;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #1F618D;
}

@media (min-height: 1000px) {
    .sticky-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media (max-height: 1000px) {
    .sticky-footer {
        margin-top: 10px;
    }
}

@media (min-width: 800px) {
    .dark-mode-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 800px) {
    .dark-mode-button {
        display: block;
        margin: 10px auto auto auto;
    }
}

footer {
    text-align: center;
}

.dark-mode-button {
    border: none;
    background-color: transparent;
    transition: 0.3s;
}

.dark .dark-mode-button {
    filter: invert(100%);
}

.dark-mode-icon-hidden {
    display: none;
}
